/* Глобальные значения */
body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 1120px;
    min-height: 350px;

    margin: auto;
    padding: 25px;

    background: white;
    border: 1px solid black;
    border-radius: 5px;

    color: black;
}

.title {
    display: block;

    width: 1120px;

    margin: 100px auto 10px auto;

    font-size: 42px;
}

.hidden {
    display: none;
}

/*  Авторизация  */
.wrapper__login-form {
    margin: 0 auto;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login-form {
    width: 600px;
}

.login-form__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.enter__submit {
    width: 100%;
    height: 76px;

    margin-left: 10px;

    background: white;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;

    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

.enter__submit:hover {
    background: black;
    cursor: pointer;

    color: white;
}


.login-form__wrong-password_hidden {
    display: none;
}

.login-form__text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin-bottom: 25px;
    padding: 15px;

    border: 1px solid black;
    border-radius: 5px;
    background: transparent;

    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}


.wrapper__login-link {
    width: 600px;

    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;

    border: 1px solid #000;

    text-align: center;
    text-decoration: none;

    color: black;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    border-bottom: 1px solid #000;
}

.short-info {
    display: flex;
    justify-content: space-between;

    padding: 5px;
}

.short-info a {
    margin: 5px;
}

/* Личный кабинет */
.wrapper_profile {
    padding: 0;
}

.content {
    padding: 25px;
}

.content_profile {
    display: flex;
}

.content__title {
    margin-bottom: 25px;

    font-size: 28px;
    text-align: center;
}

.content__info {
    margin-bottom: 25px;
}

.content__edit {
    display: block;

    margin: auto;

    text-align: center;
}

.content__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__links .content__edit {
    display: inline-block;
    margin: 10px;
}

.info__block {
    display: flex;

    width: 600px;

    margin: auto;
}

.info__block>* {
    display: inline-block;

    width: 100%;

    margin: 2px;
    padding: 10px 25px;

    border: 1px solid #000;
}


/* admin */
.transactions {
    display: flex;
    flex-direction: column;

    width: 500px;
}

.transactions>* {
    margin-bottom: 5px;
}

.transactions>input[type="submit"] {
    margin-bottom: 15px;
}

.transactions__list, .transactions__header{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    max-height: 250px;

    padding: 10px;

    border: 1px solid #000;
    box-sizing: border-box;
}

.transactions__header {
    overflow: hidden;
    padding-right: 25px;
}

.transactions__add {
    display: flex;
    flex-direction: column;

    border: 1px solid #000;
    box-sizing: border-box;
}

.transactions__add>* {
    margin: 5px 10px;
}

.list__row {
    display: flex;

}

.list__row>div {
    width: 100%;

    padding: 10px;
    margin: 1px;

    border: 1px solid #000;
    box-sizing: border-box;
}

.js-transaction_checkbox {
    width: 0;
    height: 0;
}

.js-transaction_checkbox:checked + label>* {
    background: red;
    border: 1px solid transparent;
    color: white;
}



























