/* Глобальные значения */
body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    width: 1120px;
    min-height: 400px;

    margin: 100px auto;
    padding: 25px;

    background: white;
    border: 1px solid black;
    border-radius: 5px;

    color: black;
}

.wrapper__title {
    margin: 0 0 25px 0;

    text-align: center;
    font-size: 42px;
}


/*  Авторизация  */
.wrapper__login-form {
    margin: 0 auto;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login-form {
    width: 600px;
}

.login-form__enter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.enter__submit {
    width: 100%;
    height: 76px;

    margin-left: 10px;

    background: white;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;

    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;

}

.enter__submit:hover {
    background: black;
    cursor: pointer;

    color: white;
}


.login-form__wrong-password_hidden {
    display: none;
}

.login-form__text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin-bottom: 25px;
    padding: 15px;

    border: 1px solid black;
    border-radius: 5px;
    background: transparent;

    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}


.wrapper__login-link {
    text-align: center;
    text-decoration: none;

    color: black;
}
